body {
font-family: 'Open Sans', arial, sans-serif;
font-size: 1em;
color:#444;
margin-top: 2px;
margin-bottom: 10px;
margain: 0px;
}

#container {
width:100%;
max-width: 900px;
margin: 0 auto;
border-bottom:50px;
}

/* name */
#name {
font-size: 3em;
color:#33485e;
text-transform: uppercase;
text-align:center;
border-bottom: 1px solid: #33485e;
width:60%;
min-width:300px;
margin: 0 auto;
}

/* title */
strong {
text-transform: uppercase;
font-size: 1.5em;
color: #33485e;
}

/* section titles */
h2 {
font-size: 1.5em;
text-transform: uppercase;
background-color: #33485e;
color: white;
margin-bottom: 10px;
margin-top: 20px;
margin: 0px;
width: 70%;
min-width: 300px;
}

/* job titles */
h3 {
font-size: 1.5em;
font-weight: 600;
}

/* job organization */
h4 {
font-size: 1.25em;
font-weight: 400;
}

/* job dates */
h5 {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin: 0px;
}

/* contact info, skills, education */
ul {
  font-size: 1em;
}
